:root {
  --font-family: 'Montserrat', sans-serif;
  --techmo-colour: #28E0CC;
  --primary-color: var(--techmo-colour);
  --font-size: 100%;
}

.p-link {
  font-family: var(--font-family);
}

body {
  margin: 0;
  padding: 0;
}

.p-menubar {
  padding: 0;
  border: 0;
  margin: 5px 50px 5px 50px;
  border-radius: 0;
  background: white;
}

.p-menubar-start > img {
  height: 50px !important;
  width: auto !important;
}

.p-menubar-end > img {
  height: 50px !important;
  width: auto !important;
}

.p-menu-item {
  margin-left: 5px;
}

.p-progressbar {
  height: 0.25rem;
  border-radius: 0;
  position: relative;
  margin: 0 0 0 0;
}

datalist {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

input {
  width: 50%;
}

.p-inputtext {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.p-placeholder {
  font-size: var(--font-size);
}

label {
  font-size: var(--font-size);
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: #ffffff;
  border-color: var(--techmo-colour);
  color: var(--techmo-colour);
}

.p-tabview .p-tabview-nav .p-tabview-ink-bar {
  background-color: var(--techmo-colour);
}

.card-mah {
  border-radius: 25px;
}

.center-wsp {
  position: fixed;
  bottom: 4vh;
  right: 4vh;
}

.p-card-content {
  font-size: 100%;
}

.center-spinner {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@keyframes p-progress-spinner-color {
  100%,
  0% {
    stroke: var(--techmo-colour);
  }
  40% {
    stroke: var(--techmo-colour);
  }
  66% {
    stroke: var(--techmo-colour);
  }
  80%,
  90% {
    stroke: var(--techmo-colour);
  }
}

.input-grande {
  font-size: 100%;
}

.green-card-border {
  box-shadow: 0 0 0 0 #28E0CC65;
  border: 4px solid var(--teal-800);
  border-radius: 6px;
}

.p-menuitem-link:hover {
  background: rgba(40, 224, 204, 0.23) !important;
}

.p-menuitem-text:hover {
  color: var(--techmo-colour) !important;
}

.p-menu-item {
  color: #495057
}

.p-button-techmo {
  color: #ffffff;
  background: #326f78;
  border: 1px solid #326f78;
}

.p-button-techmo:hover {
  color: #ffffff;
  background: var(--techmo-colour) !important;
  border: 1px solid var(--techmo-colour) !important;
}