body {
    margin: 0;
    padding: 0;
}

.p-menubar {
    padding: 0;
    border: 0;
    border-radius: 0;
}


.p-menu-item {
    margin-left: 5px
}

.p-progressbar {
    height: 1rem;
    border-radius: 0;
}

.emoji-slider {
    --emoji-slider-bar-color: red;
}

datalist {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

input {
    width: 50%;
}