:root {
  --font-family: "Raleway", sans-serif;
  --mah-colour: #e21f25;
  --primary-color: var(--mah-colour);
  --font-size: 90%;
}

.p-link {
  font-family: var(--font-family);
}

body {
  margin: 0;
  padding: 0;
}

.p-menubar {
  padding: 0;
  border: 0;
  border-radius: 0;
}

.p-menu-item {
  margin-left: 5px;
}

.p-progressbar {
  height: 0.25rem;
  border-radius: 0;
  position: relative;
  margin: 0 0 0 0;
}

datalist {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

input {
  width: 50%;
}

.p-inputtext {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.p-placeholder {
  font-size: var(--font-size);
}

label {
  font-size: var(--font-size);
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: #ffffff;
  border-color: var(--mah-colour);
  color: var(--mah-colour);
}

.p-tabview .p-tabview-nav .p-tabview-ink-bar {
  background-color: var(--mah-colour);
}

.card-mah {
  border-radius: 25px;
}

.center-wsp {
  position: fixed;
  bottom: 4vh;
  right: 4vh;
}

.p-card-content {
  font-size: 100%;
}

.center-spinner {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@keyframes p-progress-spinner-color {
  100%,
  0% {
    stroke: var(--mah-colour);
  }
  40% {
    stroke: var(--mah-colour);
  }
  66% {
    stroke: var(--mah-colour);
  }
  80%,
  90% {
    stroke: var(--mah-colour);
  }
}

.input-grande {
  font-size: 100%;
}

.red-card-border {
  box-shadow: 0px 0px 0px 0px rgba(230,36,36,0.4);
  border: 4px solid #e21f25;
  border-radius: 6px;
}

.p-menuitem-link:hover {
  background: rgba(249,25,66,.06) !important;
}

.p-menuitem-text:hover {
  color: #f91942 !important;
}

.p-menu-item {
  color: #495057
}