@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
    --font-family: 'Montserrat', sans-serif;
    --techmo-colour: #28E0CC;
    --primary-color: var(--techmo-colour);
    --font-size: 100%
}

body {
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: var(--font-size);
}

.p-component {
    font-family: var(--font-family);
    font-size: var(--font-size);
}